{% extends 'base.html.twig' %}

{% block title %} StarShop: Beam up some parts!{% endblock %}

{% block body %}
<h1>Starshop your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through {{ numberOfStarships * 10}} starships!



    {% if numberOfStarships > 400 %}
        <p>Now that's a shipment</p>
    {% endif %}

</div>

<div>
    <h2>My ship</h2>
    <table>
        <tr>
            <th>Name:</th>
            <td>{{ myShip.name|upper }}</td>
        </tr>
        <tr>
            <th>Class:</th>
            <td>{{ myShip.class|upper }}</td>
        </tr>
        <tr>
            <th>Captain:</th>
            <td>{{ myShip.captain|upper }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ myShip.status|upper }}</td>
        </tr>
    </table>
</div>
{% endblock %}